<div class="content">
	<div class="calendar">

		<!-- Event block -->
		<div class="event row">

			<!-- Current Day block -->
			<div class="event__current-day col-xs-4">

				<!-- Day -->
				<div class="event__current-day--number">
					20
				</div>
				<div class="event__current-day--week">
					wednesday
				</div>
			</div>

			<!-- Event / Create event -->
			<div class="event__current-events col-xs-8">
				<div class="event__current-events__list">
					current events
					<ul>
						<li>Theusmá Birthday</li>
					</ul>
				</div>
				<div class="event__current-events__create">
					Create on Event
				</div>
			</div>
		</div>
		<div class="datepicker">
			datepicker
		</div>
	</div>
</div>

