@import '../../../../styles';

$calendarHeightDesktop: 350px;
$calendarWidthMobile: 100%;

$datepickerWidthDesktop: 370px;
$datepickerHeightMobile: 350px;

$eventBlockWidthDesktop: 230px;
$eventBlockHeightMobile: 170px;

$calendarBorderRadius: 10px;

.content {
	display: flex;
	justify-content: center;
	width: 100%;
}

.calendar {
	border-radius: $calendarBorderRadius;
	overflow: hidden;
	
	@include bp-xsmall {
		display: grid;
		width: 100%;
	}
	@include bp-small {
		display: inline-flex;
		width: auto;
		height: $calendarHeightDesktop;
	}
}


.event {
	background-color: $bgBoxLeft;
	color: $whiteColor;

	@include bp-xsmall {
		height: $eventBlockHeightMobile;
		// width: 100%;
	}
	@include bp-small {
		height: 100%;
		width: $eventBlockWidthDesktop;
	}

	&__current-day {
		@extend .current-day;
		@extend .align-vertical-center;

	    &--number {}

		&--week {
			@extend .current-day-2;
			text-transform: uppercase;
		}
	}

	&__current-events {
		@extend .align-vertical-center;


	}
}

.event-list {
	@extend .current-events;
	text-transform: capitalize;
	text-align: left;

	ul {
		margin-left: -20px;
		font-weight: 400;
	}
}

.create-event {
	@extend .creat-on-event;
	text-align: left;
	padding: 3px 0;
	border-bottom: 1px solid white;
	margin-right: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	&__title {
		flex-grow: 1;
		padding: 10px 0;
	}

	&__plus-icon {
		width: 25px;
		height: 25px;
		border: 1px solid $whiteColor;
		border-radius: 100%;
		@extend .align-horizontal-center;

		span {
			@extend .align-vertical-center;
			text-align: center;
			font-style: normal;
			width: 100%;
		}
	}
}

.datepicker {
	background-color: white;

	@include bp-xsmall {
		height: $datepickerHeightMobile;
		width: 100%;
	}
	@include bp-small {
		height: 100%;
		width: $datepickerWidthDesktop;
	}
}