<div class="content">
	<div class="calendar">

		<!-- Event block -->
		<div class="event row">

			<!-- Current Day block -->
			<div class="event__current-day col-xs-5 col-sm-12">

				<!-- Day -->
				<div class="event__current-day--number">
					20
				</div>
				<div class="event__current-day--week">
					wednesday
				</div>
			</div>

			<!-- Event / Create event -->
			<div class="event__current-events col-xs-7 col-sm-12">
				<!-- List of current events -->
				<div class="event-list">
					current events
					<ul>
						<li>Theusmá Birthday</li>
					</ul>
				</div>
				<div class="create-event">
					<span class="create-event__title">Create on Event</span>
					<div class="create-event__plus-icon">
						<span>+</span>
					</div>
				</div>
			</div>
		</div>
		<div class="datepicker">
			datepicker
		</div>
	</div>
</div>

