@import 'variables';


// 
// Media queries mixins
//

@mixin bp-xsmall {
  @media #{$mq-xsmall} {
    @content;
  }
}

@mixin bp-small {
  @media #{$mq-small} {
    @content;
  }
}

@mixin bp-medium {
  @media  #{$mq-medium} {
    @content;
  }
}


@mixin visible-xs {
	@media #{$mq-xsmall} { display: block; }
  @media #{$mq-small} { display: none; }
}

@mixin hidden-xs {
  @media #{$mq-xsmall} { display: none; }
  @media #{$mq-small} { display: block; }  
}